
<h1>Pedidos Realizados</h1>

<div class="table-responsive">
    <table id="tabelaPedidos" class="table table-striped">
        <thead>
            <th>Nº Pedido</th>
            <th>Data do pedido</th>
            <th>Produto</th>
            <th>Valor unitário</th>
            <th>Quantidade</th>
            <th>Valor total</th>
        </thead>
        <tbody>
            <% for(let i = 0; i<pedidos.length; i++) { %>
                <tr>
                    <td><%= pedidos[i].pedidoId %></td>
                    <td><%= pedidos[i].pedidoData.toLocaleString() %></td>
                    <td><%= pedidos[i].produtoNome %></td>
                    <td>R$<%= pedidos[i].pedidoItemValor %></td>
                    <td><%= pedidos[i].pedidoItemQuantidade %></td>
                    <td>R$<%= pedidos[i].pedidoItemValorTotal %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>